.login-logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
    
}

.login-logo img {
    max-width: 150px;
}

.list {
    margin-bottom: 0;
}



div {
    background-image: url("../../../assets/backgroundLogin.jpeg");
    margin: auto;
    height: 100%; display: flex; align-items: center; justify-content: center;
}

ion-card {
    --ion-background-color: #ffffff;
    width: 80%;
    padding: 5%;
    
    
}

