.register {
    height: 100%;
    display: flex;
    align-items: center;
}

ion-content {
    --ion-background-color: #251e3e;
}

ion-card {
    --ion-background-color: #ffffff;
    padding: 10px;
}
a{
    float: right;
}