<ion-header>
  <ion-toolbar>
    <ion-title>contact-artesano</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let artesano of artesanos | async">
    <ion-item>
      <ion-label >
        <h1>{{artesano.nombres}}</h1>
        <h2>{{artesano.apellidos}}</h2>
        <h3>{{artesano.correo}}</h3>
        <h3>{{artesano.area}}</h3>
        <h3>{{artesano.celular}}</h3>
        <ion-button (click)='Llamar(artesano.celular)'> Llamar </ion-button>
        <ion-button (click)='finalizarObra()'> Finalizar obra </ion-button>
        <div class="ion-padding">
          <ion-button (click)="cancelar()" type="submit" color="danger" expand="block">Cancelar </ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-item-sliding>

</ion-content>
