
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Cotitrabajo EC</ion-title>
    </ion-toolbar>
</ion-header>

<div class="container">
    <ion-card>
        
    <form #signupForm="ngForm" novalidate>
        <img src="./assets/img/trabajaConNosotros.gif" alt="Trabaja con Nosotros"/>
        <ion-card-subtitle>REGISTRO ARTESANO</ion-card-subtitle>

        <ion-list lines="none">
            <ion-item>
                <ion-label position="floating" color="primary">CEDULA</ion-label>
                <ion-input [(ngModel)]="artesano.cedula" name="cedula " type="text " required>
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" color="primary ">NOMBRES</ion-label>
                <ion-input [(ngModel)]="artesano.nombres " name="nombres " type="text " required>
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" color="primary ">APELLIDOS</ion-label>
                <ion-input [(ngModel)]="artesano.apellidos " name="apellidos " type="text " required>
                </ion-input>
            </ion-item>


            <ion-item>
                <ion-label position="floating" color="primary ">CORREO</ion-label>
                <ion-input [(ngModel)]="artesano.correo " name="correo" type="text" required>
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" color="primary ">CONTRASENA</ion-label>
                <ion-input [(ngModel)]="artesano.contrasenia " name="contrasena " type="password " required>
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" color="primary ">CELULAR</ion-label>
                <ion-input [(ngModel)]="artesano.celular" name="correo" type="text" required>
                </ion-input>
            </ion-item>
        </ion-list>
        <div>
            <ion-item>
                <ion-label>Selecciona una categoria</ion-label>
                <ion-select class="custom-options" [(ngModel)]="artesano.area" name="area">
                    <ion-select-option value="CARPINTERIA">CARPINTERIA</ion-select-option>
                    <ion-select-option value="INDUSTRIAL">INDUSTRIAL</ion-select-option>
                    <ion-select-option value="PLOMERIA">PLOMERIA</ion-select-option>
                    <ion-select-option value="ARQUITECTURA">ARQUITECTURA</ion-select-option>
                </ion-select>
            </ion-item>
        </div>

    </form>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button (click)="saveArtesano()" type="submit" expand="block" color="success"> REGISTRARME </ion-button>
            </ion-col>
            <ion-col>

                <ion-button (click)="saveArtesanoByGoogle()" type="submit" expand="block" color="danger">
                    <ion-icon name="logo-google"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>

</div>