<ion-header>
    <ion-toolbar>

        <ion-title>Registro Cliente</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card>
        <div>
            <img src="assets/img/createus.png" style="height: 200px;margin-left: 25%;" alt="Ionic logo">
        </div>
        <ion-list lines="none" style="margin-top: 1%;">

            <ion-item>
                <ion-label position="stacked " color="primary ">NOMBRES</ion-label>
                <ion-input [(ngModel)]="cliente.nombres " name="nombres " type="text " required>
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked " color="primary ">APELLIDOS</ion-label>
                <ion-input [(ngModel)]="cliente.apellidos " name="apellidos " type="text " required>
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked " color="primary ">CORREO</ion-label>
                <ion-input [(ngModel)]="cliente.correo " name="correo" type="text" required>
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked " color="primary ">CONTRASENA</ion-label>
                <ion-input [(ngModel)]="cliente.contrasena " name="contrasena " type="password " required>
                </ion-input>
            </ion-item>

        </ion-list>

        <div class="ion-padding ">
            <ion-button color="primary" (click)="guardarCliente() " type="submit " expand="block ">REGISTRARME</ion-button>
        </div>

    </ion-card>




</ion-content>