<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-avatar slot="start">
            <img src="assets/icon/iconlogo.png" alt="Ionic logo">
        </ion-avatar>
        <ion-title>Cotizaciones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="login-logo ">
        <img src="assets/img/cotilogo.jpg" alt="Ionic logo ">
    </div>
    <ion-card>
        <ion-header>
            <ion-row>
                <ion-col>Comentario</ion-col>
                <ion-col>Precio $</ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-header>
       

        <ion-grid>
            <ion-row *ngFor="let cotizacion of cotizaciones | async">
                <ion-col>
                    <p id="cot_comentario">{{cotizacion.Comentario}}</p></ion-col>
                    <ion-col>
                        <p id="cot_precio">{{cotizacion.Value_cotizar}}</p>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button expand="block" color="warning" (click)="Contacto(cotizacion.artesano)">Contactar
                            <ion-icon name="call-outline"></ion-icon>
                        </ion-button>
                    </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>
<footer>
    <ion-button expand="block" color="primary" (click)="returnview()">Regresar
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
</footer>