<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <div class="login-logo">
            <img src="assets/img/logo.png" alt="Ionic logo">
        </div>
        <form>
            <ion-item lines="full">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" #email required></ion-input>
            </ion-item>
            <ion-item lines="full">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" #password required></ion-input>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-button type="submit" (click)="onLogin(email, password)" expand="block">Login</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p class="ion-text-end">
                        <a routerLink="/forgot-password">Olvidaste tu constrasena? </a>
                    </p>
                </ion-col>
            </ion-row>
            <span class="center-span"> or </span>
            <ion-row>
                <ion-col>
                    <ion-button type="submit" color="danger" (click)="onLoginGoogle()" expand="block">Login with Google
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
        <ion-row>
            <ion-col>
                <p class="ion-text-end">
                    <a routerLink="/register">Crea una cuenta.. </a>
                </p>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>