<!-- Large title -->
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title> PUBLICAR OBRA</ion-title>
        <ion-avatar slot="start">
            <img src="assets/icon/iconlogo.png" alt=" Ionic logo ">
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<!--<ion-button (click)="tomarFoto() " color=" success ">Fotografia</ion-button>-->


<ion-content>
<div class="container">

    <ion-card>
        <div class="login-logo ">
            <img src="assets/img/publica.jpg " alt="Ionic logo ">
        </div>
        <ion-card-header>Datos de tu obra</ion-card-header>
        <ion-item>
            <ion-label>Titulo</ion-label>
            <ion-input placeholder="Ingresa un titulo " [(ngModel)]="obra.titulo "></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Descripcion</ion-label>
            <ion-textarea placeholder="Ingresa una descripcion de tu obra " [(ngModel)]="obra.descripcion "></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label>Selecciona una categoria</ion-label>
            <ion-select class="custom-options " [(ngModel)]="obra.categoria ">
                <ion-select-option value="CARPINTERIA">CARPINTERIA</ion-select-option>
                <ion-select-option value="INDUSTRIAL">INDUSTRIAL</ion-select-option>
                <ion-select-option value="PLOMERIA">PLOMERIA</ion-select-option>
                <ion-select-option value="ARQUITECTURA">ARQUITECTURA</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Sube una fotografia</ion-label>
            <app-take-photo [source]="'gallery'" (imageSelected)="imageSeleccionada($event)" (uploadFinished)="uploadFinished($event)"></app-take-photo>
            <ion-card *ngIf="obra.image">
                <ion-img [src]="imgData"></ion-img>
                <ion-img [src]="obra.image?.url"></ion-img>
            </ion-card>
        </ion-item>
        
        <ion-item>
            <ion-label>Selecciona la ubicacion de entrega</ion-label>
        </ion-item>
        <agm-map [latitude]="lat" [longitude]="lng" (centerChange)="setNewLocation($event)">
            <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'https://cdn4.iconfinder.com/data/icons/essential-app-2/16/botton-on-launch-point-48.png'">
                <agm-info-window>UPS</agm-info-window>
    
            </agm-marker>
    
    
            <agm-marker [latitude]="current.latitude" [longitude]="current.longitude" [iconUrl]="'https://cdn4.iconfinder.com/data/icons/essential-app-2/16/botton-on-launch-point-48.png'">
                <agm-info-window>{{current.address}}</agm-info-window>
    
            </agm-marker>
    
            <agm-marker [latitude]="newLocation.latitude" [longitude]="newLocation.longitude" [iconUrl]="'https://cdn2.iconfinder.com/data/icons/pointers-5/24/pointer-top-left-48.png'">
                <agm-info-window>{{newLocation.address}}</agm-info-window>
    
            </agm-marker>
    
    
    
    
        </agm-map>
    </ion-card>
    <!--<app-take-photo [source]=" 'photo' " (imageSelected)="imageSeleccionada($event) " (uploadFinished)="uploadFinished($event) "></app-take-photo>
    -->

    
    

    <div style="margin: 5%;margin-left: 20%; ">
        <ion-button (click)="guardarObra()" color="warning">Publicar
            <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        </ion-button>
        <ion-button [routerLink]="['/view-cliente']" color="medium">Cancelar
            <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
    </div>
   

</div>
</ion-content>