<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-avatar slot="start">
                <img src="assets/icon/iconlogo.png" alt="Ionic logo">
            </ion-avatar>
            <ion-title>CEC: MIS OBRAS</ion-title>
            
        </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
        <ion-row>
            <ion-col>
                <ion-button (click)="crearNuevaObra() " color="warning" expand="block">Crear nueva obra</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="singOut()" color="dark" expand="block">Salir</ion-button>
            </ion-col>


        </ion-row>
        
        <ion-list>
            
            <ion-grid *ngFor=" let obra of obras | async " >
                <ion-row>
                    <ion-col class="catalogImage"><ion-img  [src]="obra.image?.url "></ion-img></ion-col>
                    <ion-col id="descriptionObra">
                        <header class="productDesc">TITULO</header>
                        <h5 class="gridInfo">{{ obra.titulo }}</h5>
                        <header class="productDesc">DESCRIPCION</header>
                        <h5 class="gridInfo">{{ obra.descripcion }}</h5>
                        <header class="productDesc">CATEGORIA</header>
                        <h5 class="gridInfo">{{ obra.categoria }}</h5>
                        <ion-button (click)="editarObra(obra)" color="secondary" >Edit</ion-button>
                        <ion-button (click)="confirmarBorrado(obra.uid)" color="danger">Borrar</ion-button>
                        <ion-button (click)="ListarCotizaciones(obra.uid)" color="medium" expand="block">Cotizaciones</ion-button>
                       

                    </ion-col>
                        

                </ion-row>
               
            </ion-grid>

            <ion-card>
                <ion-item-sliding *ngFor=" let obra of obras | async ">

                    <ion-item>

                        <ion-avatar>
                            <ion-img [src]="obra.image?.url "></ion-img>
                        </ion-avatar>

                        <ion-label (click)="editarContactoById(obra.uid) ">
                            <h2>{{ obra.titulo }}</h2>
                            <h3>{{ obra.descripcion }}</h3>
                            <p>{{ obra.categoria }}</p>
                        </ion-label>
                    </ion-item>
                    <ion-item-options>
                        <ion-item-option color="primary " (click)="editarObra(obra)">
                            <ion-icon name="create-outline"></ion-icon>
                        </ion-item-option>
                        <ion-item-option color="primary" (click)="ListarCotizaciones(obra.uid)">
                            <ion-icon name="cash-outline"></ion-icon>
                        </ion-item-option>
                        <ion-item-option color="secondary " (click)="confirmarBorrado(obra.uid) ">
                            <ion-icon name="trash-outline"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-card>

        </ion-list>

    </ion-content>
    <footer>
       

    </footer>
</ion-app>