<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>OBRA</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-item>
            <div>
                <ion-img [src]="obra.image?.url"></ion-img>
            </div>
        </ion-item>

        <ion-card-header>Publicacion</ion-card-header>
        <ion-item>
            <ion-label position="floating">Titulo</ion-label>
            <ion-input [(ngModel)]="obra.titulo"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Categoria</ion-label>
            <ion-input [(ngModel)]="obra.categoria"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-textarea placeholder="Enter more information here..." [(ngModel)]="obra.descripcion"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Coordenadas y ubicacion</ion-label>
        </ion-item>

        <ion-item>

            <ion-input [(ngModel)]="obra.longitud"></ion-input>
            <ion-input [(ngModel)]="obra.latitude"></ion-input>
            <ion-input [(ngModel)]="obra.address"></ion-input>
        </ion-item>


        <agm-map>
            <agm-marker [latitude]="obra.latitude" [longitude]="obra.longitud" [iconUrl]="'https://cdn4.iconfinder.com/data/icons/essential-app-2/16/botton-on-launch-point-48.png'">
                <agm-info-window>UPS</agm-info-window>
            </agm-marker>

        </agm-map>

        <footer>

            <ion-button color="dark" expand="block" (click)="guardarObra() ">Actualizar</ion-button>

            <ion-button color="danger" expand="block" (click)="cancelar() ">Cancelar</ion-button>
        </footer>
    </ion-card>



</ion-content>