<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304796130309-6b4e1s44jbcabcm3guapfloisdhq353k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304796130309-6b4e1s44jbcabcm3guapfloisdhq353k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>304796130309-78ug3ha4tk3256ndu1s5a7jnk0g0vk2a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBImJxpU3JWYIWMUyDqB8nS-4U_02LmNPk</string>
	<key>GCM_SENDER_ID</key>
	<string>304796130309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.starter</string>
	<key>PROJECT_ID</key>
	<string>cotitrabajo-fb183</string>
	<key>STORAGE_BUCKET</key>
	<string>cotitrabajo-fb183.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304796130309:ios:6fc07723612916191ed06c</string>
	<key>DATABASE_URL</key>
	<string>https://cotitrabajo-fb183-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>